/node_modules
/public/hot
/public/storage
/public/uploads
/public/documentos
/storage/*.key
/vendor
/.idea
/.vagrant
/.idea
.phpintel/*
bump-version.sh
Homestead.json
Homestead.yaml
.env
.DS_STORE*
npm-debug.log
yarn-error.log
.env
*.sh
**/**/*.DS_Store
/storage/app
/storage/fonts
/storage/framework
/storage/logs
php-cs-fixer
/.vagrant/
/Vagrantfile
/after.sh
/aliases
storage/fonts
/.project
php-cs-fixer
